{% extends "layout.html" %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Product List</h1>
        <div class="text-center mb-4">
          <a href="{% url 'product_create' %}" class="btn btn-primary">Create New Product</a>
        </div>
        <div class="row">
          {% for product in products %}
            <div class="col-md-4 mb-4">
              <a href="{% url 'product_detail' product.pk %}" class="card-link" style="text-decoration: none; color: inherit;">
                <div class="card">
                  {% if product.image %}
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }} Image">
                  {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">Price: R${{ product.price }}</p>
                    <p class="card-text">In stock: {{ product.item_count }}</p>
                    <a href="{% url 'product_update' product.pk %}" class="btn btn-secondary">Edit</a>
                    <a href="{% url 'product_delete' product.pk %}" class="btn btn-danger">Delete</a>
                  </div>
              </a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}